/*Me complique demasiado con smacss porque se me olvidó el "estado" y realmente aqui es una "emulación" proque ni probé si funcionaria implementado de manera oficial*/
/*Base*/
body {
    background-color: #2b2b2b;
    color: #e0e0e0;
}

/*Capa*/
.l-container {
    max-width: 1200px;
    margin: auto;
}

.l-footer {
    padding: 20px;
    text-align: center;
}

/*Módulo*/
.card {
    background-color: #3b2f2f;
    transition: transform 0.3s;
}

.card__title {
    color: #ff4c4c;
}

.cart {
    background-color: #1c1c1c;
}

.cart-item {
    display: flex;
    gap: 15px;
}

/*Estado, el bendito estado que me hizo llorar sangre. No sé si está bien hecho, pero la mayoría de las guías decían que habia que especificar el on/off de estas cosas*/
.is-active {
    border: 2px solid #b30000;
}

.is-hidden {
    display: none;
}

/*Tema*/
.theme-dark {
    background-color: #111;
    color: #ccc;
}

/*No lo implementaré al proyecto principal, se me va a abrir el estómago de estrés si tengo que volver a pelear con esto*/