body {
    background-color: #2b2b2b;
    color: #e0e0e0;
}

.product-card {
    background-color: #888888; /*IBA A SER CAFÉ, pero no se veía 1 pepino. Esto es el color de las tarjetas*/
    border: none;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #941e1e; /*Color de los titulos de los dizcoz, también cambiado proque sino el contraste estaba imposible*/
}

.footer {
    background-color: #111;
    color: #ccc;
    padding: 20px;
}

.btn-danger {
    background-color: #b30000;
    border: none;
}

.btn-outline-danger {
    border-color: #b30000;
    color: #b30000;
}

.btn-outline-danger:hover {
    background-color: #b30000;
    color: white;
}

/*Esto es del carro*/

.cart-modal {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.cart-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-info {
    flex-grow: 1;
}

.cart-item button {
    background-color: #b30000;
    border: none;
    color: white;
    padding: 5px 10px;
}
